@import "tailwindcss";




/* Global Styles */
@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-secondary);
    background-color: white;
    -webkit-font-smoothing: antialiased;
  }
}